/************** TAG SELECTOR **************/

a {
  color: #11999e;
  text-decoration: none;
}

body {
  margin: 0;
  text-align: center;
  color: #40514E;
  font-family: 'Merriweather', serif;

}

/** <!-- 100% = 16px  90px/16px = 562.5%  5.625em--> <!-- 16px = 100% = 1em --> **/

h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  line-height: 2;
  margin: 50px auto 0 auto;


}

h2 {
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;



}

h3 {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #EAF6F6 8px;
  border-bottom: none;
  margin: 100px auto;
  width: 5%;
}


p {
  line-height: 2;
}


.table{
  width: 100%;
}

td {
  padding: 0 5px;
  line-height: 2;
}


/************** CLASS SELECTOR **************/

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px;
  margin-top: 100px;
}

.copywrite-line{
  color: #EAF6F6;
}

.contact-me{

  line-height: 2;

}

.code-img {

  width: 25%;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.footer-link {
  padding: 0 15px;
}

.intro {
  width: 35%;
  margin: auto;
}

.middle-container {
  margin: 100px 0;
}

.profile {
  margin-bottom: 50px;
}
.profile-pic {
  border-radius: 200px;
  width: 12.5%;
}

.resume{
  line-height: 2;
}



.skill-row {
  width: 55%;
  margin: 100px auto; /* 100px margin for Top & bottom Auto for Left & Right */
  padding: 5px;
  text-align: left;
}

.top-container {
  position: relative;
  background-color: #E0EBE8;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 400px;
}

.work-img {
  width: 25%;
  float: right;

  margin-bottom: 10px;

}

/************** ID SELECTOR **************/
