/************** TAG SELECTOR **************/

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

/** <!-- 100% = 16px  90px/16px = 562.5%  5.625em--> <!-- 16px = 100% = 1em --> **/

h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  line-height: 2;
  margin: 50px auto 0 auto;


}

h2 {
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;

}

h3 {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999e;
}

p {
  line-height: 2;
}

/************** CLASS SELECTOR **************/

.top-container {
  position: relative;
  background-color: #E0EBE8;
  padding-top: 100px;
}

.middle-container {


}

.bottom-container {

}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 400px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.code-img {

  width: 25%;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.chillies-img {
  width: 25%;
  float: right;
  margin-left: 30px;
  margin-bottom: 10px;

}

.profile {
  padding: 50px 0;
}

.profile-pic {
  border-radius: 200px;
  width: 12.5%;
}

.intro {
  width: 40%;
  margin: auto;
}

.skills {
 width: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto; /* 100px margin for Top & bottom Auto for Left & Right */
  padding: 5px;
  text-align: left;
}



/************** ID SELECTOR **************/
